//colors
$gray-light: #f5f5f5;
$gray: #aaa;
$gray-dark: #62706c;
$green: #1ECD97;
$red: #D91E18;

//fonts
$base-font-family: 'Lato', Arial, sans-serif !default;
$base-font-size: 14px !default;
$base-font-color: $gray !default;
$base-bgcolor: $gray-light !default;

//misc
$base-border-color: $green !default;
$base-border-radius: 22px !default;

$gutter: 25px;

$link-color: $green !default;
$link-hover-color: $gray-dark !default;
